<div class="text-center card">
  <div class="card-body">
    <div class="card-title"></div>

    <form [formGroup]="formCadastro" (ngSubmit)="cadUser()">
      <div class="form-group">
        <input type="email" formControlName="email" class="form-control" placeholder="E-mail"
        >
      </div>
      <div class="form-group">
        <input type="text" formControlName="nome" class="form-control" placeholder="Nome">
      </div>
      <div class="form-group">
        <input type="password" formControlName="senha" class="form-control" placeholder="Senha"
        >
      </div>
      <button type="submit" class="btn btn-outline-primary btn-sm btn-block">Cadastre-se</button>
    </form>
    <hr />
  </div>
</div>
<br />
<div class="card">
  <div class="card-body">
    <p class="card-text">
      Tem uma conta? <a href="#" routerLink="login" class="card-link">Faça login</a>
    </p>
    <p>
      <ngb-alert *ngIf="this.as.exibir" [dismissible]="false"  [type]="this.as.tipo">{{ this.as.mensagem }}</ngb-alert>
  </p>
  </div>
</div>
