/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Roboto:300');
@import url('https://fonts.googleapis.com/css?family=Raleway:300');
body {
  font-family: 'Raleway', sans-serif;
}
p {
  font-size: 13px;
}
div.col-sm-4 {
  box-sizing: border-box;
}
.thumbnail {
  max-width: 150px;
  max-height: 200px;
  height: 200px;
  overflow: hidden;
  position: relative;
}
.container {
  background: #f5f5f5;
}

