div.col-sm-4 {
  box-sizing: border-box;
}
.thumbnail {
  max-width: 150px;
  max-height: 200px;
  height: 200px;
  overflow: hidden;
  position: relative;
}
.container {
  background: white;
}

@media (max-width: 767px) {
  p {
    font-size: 16px;
  }
}
@media (min-width: 768px) {
  p {
    font-size: 14px;
  }
}
@media (min-width: 992px) {
  p {
    font-size: 15px;
  }
  }
