  <hr />
  <div class="row">
    <div class="col-md-6 mb-3" *ngFor="let livro of livros | async; trackBy: trackByFn">
      <div class="">
        <div  class="col-md-4 float-left">
          <img [src]="livro.img" class="img-thumbnail" alt="">
        </div>
        <div class="col-md-6 d-inline-block p-2">
          <h4 class="card-title">{{livro.titulo}}</h4>
          <p class="card-text">{{livro.descricao}}</p>
          <p class="preco">{{livro.preco | currency: 'BRL': 'symbol'}}</p>
          <p>{{livro.autor}}</p>
          <button class="btn btn-outline-primary" (click)="carrinhoService.adicionarAoCarrinho(livro)">Adicionar ao carrinho</button>
        </div>
      </div>
    </div>
  </div>
  <hr />
