<div class="">
  <nav class="navbar bg-light">
    <div class="container">
      <div class="">
      <a routerLink="/" title="Home" routerLinkActive="active" class="navbar-brand">
        <img src="/assets/logo.png" class="img-fluid brand" alt="logo da aplicação, uma prateleira com livros">
      </a>
      </div>
      <h1 routerLink="/" title="Home" routerLinkActive="active" class="text-center">Good Shelf</h1>
      <div ngbDropdown class="d-inline-block">
        <a routerLink="/carrinho" class="mr-3" title="Carrinho de Compras" routerLinkActive="active"> <i class="fa fa-shopping-cart carrinho fa-2x" aria-hidden="true"></i></a>
        <button class="btn btn-primary" id="dropdownBasic1" ngbDropdownToggle><i class="fa  fa-user-circle-o fa-2x" aria-hidden="true"></i></button>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
          <button *ngIf="!auths.estaLogado" routerLink="/acesso" title="Cadastrar" class="dropdown-item">Criar conta</button>
          <button *ngIf="!auths.estaLogado" routerLink="/acesso/login" title="Logar" class="dropdown-item">Logar</button>
          <button *ngIf="auths.estaLogado" routerLink="/conta" class="dropdown-item">Conta</button>
          <button *ngIf="auths.estaLogado" (click)="this.auths.logout()" class="dropdown-item">Sair</button>
        </div>
      </div>
    </div>
  </nav>

</div>
