<div class="">
  <nav class="navbar bg-light">
    <div class="container">
      <div class="">
      <a routerLink="/" title="Home" routerLinkActive="active" class="navbar-brand">
        <img src="/assets/logo.png" class="img-fluid brand" alt="logo da aplicação, uma prateleira com livros">
      </a>
      </div>
      <h1 routerLink="/" title="Home" routerLinkActive="active" class="text-center">Good Shelf</h1>
      <a routerLink="/carrinho" title="Carrinho de Compras" routerLinkActive="active"> <i class="fa fa-shopping-cart carrinho fa-2x" aria-hidden="true"></i></a>
      <a routerLink="/acesso" title="Usuário" routerLinkActive="active"> <i class="fa  fa-user-circle-o carrinho fa-2x" aria-hidden="true"></i></a>
    </div>
  </nav>
</div>
