<div class="">
  <nav class="navbar navbar-light bg-light">
    <div class="container">
      <div class="">
      <a routerLink="/" routerLinkActive="active" class="navbar-brand">
        <img src="/assets/logo.png" class="img-fluid brand" alt="logo da aplicação, uma prateleira com livros">
      </a>
      </div>
      <h3 routerLink="/" routerLinkActive="active">Good Shelf</h3>
      <a routerLink="/carrinho" routerLinkActive="active"> <i class="fa fa-shopping-cart fa-2x" aria-hidden="true"></i></a>
    </div>
  </nav>
</div>
